.content-header-login{
    display: flex;
}
.content-image-logo{
    display: flex;
    width: 100%;
    justify-content: right;
}
.content-image{
    height: 200px;
    width: 200px;

}
.content-name-login{
    display: flex;
    align-items: end;
    width: 100%;
}

.color-btn-inicio{
    background-color: #5850ea;
}

.text-color-reset{
    color: #5850ea;
}

.image-bg-login {
    background-image: url("../../../assets/images/fondo-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


