<section class="bg-gray-50 dark:bg-pur image-bg-login">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0  dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <div class="content-header-login">
                    <div class="content-name-login">
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-black">
                            Recuperar Contraseña
                        </h1>
                    </div>
                    <div class="content-image-logo">
                        <div class="content-image">
                            <img src="../../../assets/images/logo.png" alt="">
                        </div>
                    </div>
                    
                </div>
                <form autocomplete="off" [formGroup]="resetForm" novalidate class="space-y-4 md:space-y-6" action="#">
                    <p class="text-sm text-red-800 rounded-lg bg-red-50  dark:text-red-400">{{LoginError}}</p>
                    <div>
                        <label for="correo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Correo</label>
                        <input type="text" formControlName="correo"  name="correo" id="correo" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="pedro@gmail.com">
                        <div *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)">
                            <div *ngIf="correo?.errors?.['required']" class="flex p-0.5  text-sm text-red-800 rounded-lg bg-red-50  dark:text-red-400" role="alert">
                                <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                                <span class="sr-only">Info</span>
                                <div>
                                    <span class="font-medium">Correo Requerido</span> 
                                </div>
                            </div>
                        </div>
                        <div *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)">
                            <div *ngIf="correo?.errors?.['pattern']" class="flex p-0.5  text-sm text-red-800 rounded-lg bg-red-50  dark:text-red-400" role="alert">
                                <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4
                                    a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0
                                    000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1
                                    1 0 00-1-1H9z" clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Info</span>
                                <div>
                                    <span class="font-medium">Correo no válido</span> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <!-- <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                            </div> -->
                        </div>
                        <a href="#" class="text-sm font-medium text-primary-600 hover:underline text-color-reset">¿Ya tienes cuenta? Inicia Sesión</a>
                    </div>
                    <button (click)="resetPassword()" class="w-full text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-bold rounded-lg text-sm px-8 py-2.5 text-center mr-2 mb-2" >ENVIAR</button>
                    <!-- <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Don’t have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
                    </p> -->
                </form>
            </div>
        </div>
    </div>
</section>
