.content-list {
    width: 100%;
}

.content-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; /* Ajusta este valor según sea necesario para el espacio entre las columnas */
    max-width: 100%;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

