<div class="content-list">
    <div class="title">
        <h4>Listado de Farmacias</h4>
        <button (click)="imputModal('Agregar Farmacia','agregarListaFarmacia')" type="button" class="flex text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
            <svg class="flex-shrink-0 w-5 h-5 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                <path d="M6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Zm11-3h-2V5a1 1 0 0 0-2 0v2h-2a1 1 0 1 0 0 2h2v2a1 1 0 0 0 2 0V9h2a1 1 0 1 0 0-2Z"/>
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Agregar Farmacia</span>
        </button>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="flex tems-center justify-between flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900 py-2">
            <div class="flex">
                <button #dropdownActionButton data-dropdown-toggle="dropdownAction" class="inline-flex items-center text-gray-500 bg-white border border-purple-300 focus:outline-none hover:bg-purple-100 focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-purple-800 dark:text-purple-400 dark:border-purple-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 ml-1 mr-3" type="button">
                    <span class="sr-only">Action button</span>
                    Estado: Todos <!-- Inicialmente se mostrará el estado por defecto -->
                </button>
                  <!-- Dropdown menu -->
                <div id="dropdownAction" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownActionButton">
                        <li>
                            <div class="flex items-center p-2 rounded hover:bg-purple-300 dark:hover:bg-gray-600">
                            <input id="default-radio-4" type="radio" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" (change)="changeEstadoA()">
                            <label for="default-radio-4" class="w-full p-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Activo</label>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center p-2 rounded hover:bg-purple-300 dark:hover:bg-gray-600">
                            <input id="default-radio-5" type="radio" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" (change)="changeEstadoI()">
                            <label for="default-radio-5" class="w-full p-2 ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">Inactivo</label>
                            </div>
                        </li>
                    </ul>
                </div> 
                <button (click)="limpiarFiltro()" class="px-3 py-1.5">
                    <svg class="h-6 w-6 text-gray-400"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                </button>  
            </div>
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative px-2">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input (input)="changeFarm($event)" type="text" id="table-search-users" class="px-5 block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nombre">
            </div>
        </div>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-purple-400 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        RUC
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Direccion
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Teléfono
                    </th>
                    <th scope="col" class="px-6 py-3">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- Mostrar mensaje cuando no hay datos -->
                <tr *ngIf="dataFarmacia.length === 0">
                    <td colspan="5" class="px-6 py-4 text-center text-gray-500 dark:text-white">
                        No hay datos disponibles.
                    </td>
                </tr>
            
                <!-- Mostrar datos si hay alguno -->
                <tr *ngFor="let item of dataFarmacia; let i = index" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{item.str_ruc}}
                    </th>
                    <td class="px-6 py-2.5">
                        {{item.str_nombre_institucion}}
                    </td>
                    <td class="px-6 py-2.5">
                        {{item.txt_direccion_institucion}}
                    </td>
                    <td class="px-6 py-2.5">
                        {{item.str_telefono_institucion}}
                    </td>
                    <td class="px-6 py-2.5">
                        <button (click)="editarFarmacia(item.str_ruc)" (click)="imputModal('Editar Farmacia','editarListaFarmacia')" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Editar</button>
                        <button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Eliminar</button>
                    </td>
                </tr>
            </tbody>            
        </table>
    </div>
    <div class="mt-5">
        <app-pagination
        (nextPage)="pasarPagina($event)"
        ></app-pagination>
    </div>
</div>



