<div>
  <a href="https://flowbite.com/" class="flex items-center">
    <img src="../../../assets/images/logo.png" class="h-8 mr-3" alt="Savelife Logo" />
    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">SAVELIFE</span>
</a>
</div>
<div class="menu">
  <div class="flex">
    <nav class="  border-gray-200 main-header ">
        <div class="w-full flex flex-wrap items-center justify-between mx-auto">
        
        <div class="flex items-center md:order-2">
            <button type="button" class="flex mr-3 text-sm bg-white rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="../../../assets/images/logo.png" alt="user photo">
            </button>
            </div>
        </div>
    </nav>
</div>
</div>



