.content-simple-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.simple-header {
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}

.bg-header {
    background-color: rgba(255, 255, 255, 0.829); 
}

.content-simple-layout {
    display: flex;
    background-image: url("../../../assets/images/fondo-simple-layout.jpg");
    width: 100%;
    height: 100%;
    top: 7%;
    bottom: 7%;
    margin-top: 10px; 
}

.content-main-text {
    font-family: 'Poppins', sans-serif;
    font-size: 5em; /* Ejemplo de tamaño de fuente inicial en em */
    align-items: center;
    text-align: center;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.253);
    height: 40%;
    border-radius: 45px;
    position: relative;
    top: 20%;
    left: 40%;
}

@media screen and (max-width: 1024px) {
    .content-main-text {
        font-size: 3em; /* Tamaño de fuente más pequeño para pantallas más pequeñas */
        top: 15%;
        left: 30%;
    }
}

@media screen and (max-width: 768px) {
    .content-main-text {
        font-size: 2.5em; /* Tamaño de fuente aún más pequeño para pantallas más pequeñas */
        display: flex;
        justify-content: center;
    }
    .content-simple-layout {
        background-image: url("../../../assets/images/fondo-responsive-simple-layout.jpg");
    }
    
}

@media screen and (max-width: 480px) {
    .content-main-text {
        font-size: 2em; /* Tamaño de fuente aún más pequeño para pantallas más pequeñas */
        display: flex;
        justify-content: center;
    }
    
}

.simple-footer {
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
}

.bg-footer {
    background-color: rgba(255, 255, 255, 0.829); 
}


